.card {
    background: #ffffff;
    .num {
        display: inline-block;
    }
    .van-card__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.van-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    display: flex;
    text-align: center;
    height: 100%;
    width: 260rpx;

    > view {
        padding: 10rpx;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    :first-child {
        background: #ffb529;
    }
    :last-child {
        background: var(--themColor);
    }
}
