.card {
    background: #ffffff;
    .num {
        width: 100%;

        display: flex;
        justify-content: space-between;

        .price {
            color: var(--themColor);
            font-size: var(--smallSize);
            display: flex;
            align-items: center;
        }
        text:last-of-type {
            font-size: var(--bigSize);
        }
    }
}
.puls {
    background: transparent;
}
.minus {
    background: transparent;
}
.stepper {
    background: #ffffff;
}

.right {
    display: flex;
    text-align: center;
    height: 100%;
    width: 260rpx;

    > view {
        padding: 10rpx;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    :first-child {
        background: #ffb529;
    }
    :last-child {
        background: var(--themColor);
    }
}
