page,
view,
text,
swiper,
swiper-item,
image,
navigator {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
page {
    width: 100%;
    height: 100%;
    // 主题颜色
    --themColor: #eb4450;
    --bgColor: #e8eaec;
    // 字体
    font-size: 28rpx;
    --miniSize: 20rpx;
    --smallSize: 24rpx;
    --middleSize: 28rpx;
    --bigSize: 36rpx;
}
image {
    width: 100%;
}
// 文字隐藏样式
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
